ol {
    background-color: yellow;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

ol li:nth-of-type(even) {
    color: green;
}

h1, h2, h3, h4 {
    color: red;
}

h1 em, h2 em, h3 em, h4 em {
    font-size: 40px;
    border: 1px solid black;
}